@import "bootstrap/variables";

$background-color: $brand-danger;
$foreground-color: black;
$size: 180px;
$delimiter-size: $size * 5 / 18;

.countdown-container {
  width: $size * 6 * 7 / 9 + $delimiter-size * 2;
  background: $background-color;
  margin: 1em;
  position: relative;
  display: flex;
  flex-direction: horizontal;
  -webkit-box-reflect: below 0px
      -webkit-gradient(linear, left top, left bottom, from(transparent),
                       color-stop(50%, transparent),
                       to(rgba(white, 0.25)));
}

.countdown-part-container {
  display: flex;
  flex-direction: horizontal;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    width: $size * 2 * 7 / 9;
    height: 4vh;
    background-image: linear-gradient(
        to bottom, $background-color 0%, rgba($background-color, 0) 100%);
  }
}

.countdown-delimiter {
  color: $foreground-color;
  font-size: $size;
  line-height: 1.0;
  font-family: serif;
  width: $delimiter-size;
}

.digit {
  display: block;
  color: $background-color;
  height: $size;
  width: $size;
  margin-left: -$size / 9;
}

.countdown-part {
  width: $size * 7 / 9;
  height: $size;
  overflow: hidden;
  box-sizing: border-box;

 .digit-wrapper {
    animation-timing-function: cubic-bezier(1, 0, 1, 0);
  }
}

.countdown-part {
  &.hours.tens .digit-wrapper {
    animation-name: hours-tens;
    animation-duration: 86400s;
    animation-iteration-count: 1;
  }
  &.hours.ones .digit-wrapper {
    animation-name: ones;
    animation-duration: 36000s;
    animation-iteration-count: 3;
    animation-delay: -21600s;
  }
  &.minutes.tens .digit-wrapper {
    animation-name: minsec-tens;
    animation-duration: 3600s;
    animation-iteration-count: 24;
  }
  &.minutes.ones .digit-wrapper {
    animation-name: ones;
    animation-duration: 600s;
    animation-iteration-count: 144;
  }
  &.seconds.tens .digit-wrapper {
    animation-name: minsec-tens;
    animation-duration: 60s;
    animation-iteration-count: 1440;
  }
  &.seconds.ones .digit-wrapper {
    animation-name: ones;
    animation-duration: 10s;
    animation-iteration-count: 8640;
  }
}

@mixin common-animation {
  0% {
    transform: translateY(-$size);
  }
  100% {
    transform: translateY(-$size);
  }
}

@keyframes hours-tens {
  @include common-animation;
  @for $i from 0 through 1 {
    #{($i * 1000 + 400) / 24}% {
      transform: translateY(-(2 + $i) * $size);
    }
  }
  #{1400% / 24 + 0.00001%} {
    transform: translateY(0px);
  }
}

@keyframes minsec-tens {
  @include common-animation;
  @for $i from 1 through 5 {
    #{$i * 1000 / 60}% {
      transform: translateY(-(1 + $i) * $size);
    }
  }
  #{5 * 1000 / 60 + 0.00001}% {
    transform: translateY(0px);
  }
}

@keyframes ones {
  @include common-animation;
  @for $i from 1 through 9 {
    #{$i * 10}% {
      transform: translateY(-(1 + $i) * $size);
    }
  }
  90.00001% {
    transform: translateY(0px);
  }
}

footer {
  bottom: 0;
  position: fixed;
  margin-left: 1em;
}
